* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.flex_h {
	display: flex;
	flex-direction: row;
}

.data_container {
	display: flex;
	flex-direction: row;
}

.flex_v {
	display: flex;
	flex-direction: column;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.padding {
	padding: 20px;
}

.hide {
	display: none;
}

.wrap {
	flex-wrap: wrap;
}

.header {
	background-color: #9c3b3b;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 20px;
	height: 10%;
}

.sidebar {
	background-color: #f8c9c9;
	padding: 10px;
}

.content {
	height: 90%;
}

section {
	height: 100%;
	overflow: auto;
}

#nav {
	width: 200px;
	justify-content: center;
	align-items: center;
}

#nav li {
	padding: 12px;
	margin: 10px;
	width: 180px;
	border-radius: 10px;
	color: #fff;
	font-size: 24px;
	background-color: #9c3b3b;
}

#participantes {
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.p_title {
	font-size: 12px;
	justify-content: center;
	text-align: center;
	color: #9c3b3b;
	padding: 10px;
}
.p_container {
	height: 100%;
	width: 150px;
	overflow: hidden;
}

.p_img {
	width: 100%;
	height: 100%;
}

.participante {
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
	align-items: center;
	width: 250px;
	height: 200px;
	margin: 10px;
	border-radius: 10px;
	background-color: #fcc;
}

.subtitle {
	font-size: 24px;
	color: #9c3b3b;
}

.export {
	position: fixed;
	bottom: 10px;
	right: 70px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #9c3b3baa;
	color: #fff;
	font-size: 24px;
	margin: 0;
	border: none;
	transition: all 0.3s ease;
}
.export:hover {
	background-color: #9c3b3b;
}

#marcacao {
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.m_posto {
	font-size: 12px;
	justify-content: center;
	text-align: center;
	color: #9c3b3b;
	padding: 10px;
	padding-bottom: 2px;
}

.m_text {
	height: 100%;
	width: 150px;
	overflow: hidden;
}

.m_nome_guerra {
	font-size: 24px;
	justify-content: center;
	text-align: center;
	color: #6e2727;
	padding: 5px;
}

.m_nome_completo {
	font-size: 16px;
	justify-content: center;
	text-align: center;
	color: #9c3b3b;
}

.marcador {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: flex-end;
	align-items: center;
	width: 200px;
	height: 380px;
	margin: 10px;
	border-radius: 10px;
	background-color: #fcc;
}

.marcador[active='true'] {
	box-shadow: 0 0 15px #9c3b3b;
	background-color: #822121;
}

.marcador[active='true']:hover {
	box-shadow: 0 0 15px #9c3b3b;
	background-color: #822121;
}

.marcador[active='true'] .m_posto {
	color: #bfbf65;
}

.marcador[active='true'] .m_nome_guerra {
	color: #c6c646;
}

.marcador[active='true'] .m_nome_completo {
	color: #b2b66f;
}

.marcador:hover {
	box-shadow: 0 0 15px #9c3b3b;
	background-color: rgb(207, 172, 172);
}

.m_img {
	height: 100%;
	width: 100%;
}

.filtered {
	display: none !important;
}

@media (max-width: 530px) {
	html {
		min-width: 400px;
	}
	.data_container {
		display: block;
	}
	#nav.flex_v {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	#nav.flex_v li {
		font-size: 15px;
	}
}
